# checkpoints
checkpoints/
50k_checkpoints/
best_checkpoints/

# data
data/
TargetScan_dataset/
miR_degradome_ago_clip_pairing_data/
miRaw_data/

# virtual env
HyenaDNA/

# logs
output_logs/
evaluate_logs/
Performance/
optuna_logs/
*.log

# database
optuna_database/
Mimosa_dataset/

#cache
scripts/__pycache__/

# images
*.png

# training data
wandb/

#other
build_dataset_output.txt
dmiso_pairs.txt
*run.pid
*.out
unused_data.tar.gz
span_metrics.txt